body {

  background-color: white;
  color: slate;
  font-family: sans-serif;

}

h1 {

  border: 5px solid black;
  text-align: center;
}

h2 {

border: 2px solid black;
text-align: center;


}
